.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
}

.about-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.about-title {
    width: 20vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lato-thin;
    color: #ffffff;
    font-size: 34px;
    padding-bottom: 150px;
    
}

.about-title p{
    margin: 0;
    padding: 0 ;
    transform: rotate(-90deg) translate(-50%);
}

.about-info {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.about-bar {
    width: 60vw;
    height: 60vh;
    margin-left: 50px;
    border-radius: 5%;
    padding: 10px;
}

.about-bar button{
    outline: none;
    border: none;
    padding: 20px 50px;
    border-radius: 10px;
    font-family: lato-light;
    cursor: pointer;
    background-color: #ff4d4d;
}


.about-description {
    margin-bottom: 50px;
}
.about-description h1{
    font-family: lato-light;
}

.about-description p{
    font-family: lato-light;
}
.about-education h1 {
    font-family: lato-light;
}

.about-education {
    margin-bottom: 50px;
}
.edu p {
    font-family: lato-light;
}