.menu-container{
    width: 50px;
    height: 30px;
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.diff{
    margin: 9px;
    background-color: white;
    width: 40px;
    height: 0.1px;
    border-bottom: 1px solid white;
    border-radius: 10px;
}
.mid {
    margin: 9px 9px 9px 16px;
    background-color: white;
    width: 33px;
    height: 0.1px;
    border-bottom: 1px solid white;
    border-radius: 10px;  
}