@font-face {
    font-family: 'lato-light';
    src: local('Lato-Light'), url("../../fonts/Lato/Lato-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'lato-thin';
    src: local('Lato-Thin'), url("../../fonts/Lato/Lato-Thin.ttf") format('truetype');
}
@font-face {
    font-family: 'lato-bold';
    src: local('Lato-Bold'), url("../../fonts/Lato/Lato-Bold.ttf") format('truetype');
}
.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 131, 39, 0.795);
}

.home-nav {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(14, 26, 163);
}

.home-hamburger-menu{
    width: auto;
    height: auto;
    margin: 10px 20px;
    background-color: thistle;
}
.home-body {
    width: 100vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.home-body-info {
    width: 80%;
    height: auto;
    background-color: rgb(161, 127, 255);
}

/* home body text info css */

.name-info {
    margin: 0px;
    font-size: 3em;
    font-family: lato-bold;
    background-color: blue;
}

.career-info {
    margin: 0px 0px 15px 0px;
    font-size: 1.3em;
    font-family: lato-light;
}

.decor-info {
    margin: 0px;
    font-size: 1em;
    font-family: lato-thin;
}